﻿@section scripts{
    <script src="~/Scripts/app/home_index.js"></script>
}
<div class="container contactsMain">
    <div class="page-header">
        <h3>My Contacts<button data-action="addNewContact" class="btn btn-primary button-right" type="button">Add Contact</button></h3>
    </div>
    <p>Sed mollis, urna eu tempus facilisis, diam tellus aliquam tortor, et vestibulum ante quam non justo. Nullam luctus rutrum mattis. Maecenas in pharetra mi, vel mollis odio. Morbi non mauris massa.</p>
    <div class="table-responsive">
        <table id="contactList" class="table table-striped hidden">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="contactEdit" class="hidden">
        <div id="newContactHeader" class="page-header">
            <h3>Add/Edit Contact<button class="btn btn-primary button-right" data-action="saveContact" type="button">Save</button><button class="btn btn-default button-right" data-action="contactEditCancel" type="button">Cancel</button></h3>
        </div>
        <form id="contactForm">
            <div class="row">
                <div class="col-md-4"><label>First Name</label><input required type="text" name="firstName" class="form-control" /></div>
                <div class="col-md-4"><label>Last Name</label><input required type="text" name="lastName" class="form-control" /></div>
                <div class="col-md-4"><label>Email Address</label><input required type="email" name="emailAddress" class="form-control" /></div>
            </div>
        </form>
    </div>   
</div>

