﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.breadcrumb {
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 40px;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
}
.navbar .navbar-brand {
    font-size: 24px;
    line-height: 18px;
}
.page-header .button-right {
    float: right;
    margin-top: -6px;
}
.error{
    color:red;
}